
*{
    padding: 0;
    margin: 0;
}

body{
    /*background-color: rgb(30, 30, 95);*/
    background-color: rgb(43, 43, 83);
    font-family: "Open Sans";
}



button{
    outline: none;
    cursor: pointer;
}

#addTodoListDiv{
    margin-left: 2em;
    margin-top: 4em;
}

#addTodoListDiv button{
    margin-left: 0.5em;
}


#root{
    margin: 1em;
    /*border: 1px solid grey;*/
    /*display: flex;*/
    min-width: 1200px;
}


.todoList{
    /*border: 1px solid red;*/
    border-radius: 4px;
    min-height: 100px;
    background: rgb(235, 235, 235);
    padding: 0.7em;
    margin: 1em 0 1em 1em;

    float: left;
}

.todoList h2{
    font-size: 1em;
    margin-bottom: 0.5em;
}

#to-do-list-button{
    margin-left: 0.5em;
}

.card{
    /*border: 1px solid blue;*/
    border-radius: 4px;
    border-bottom: rgb(180, 180, 180) 1px solid;
    background: white;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    font-size: 0.9em;
    position: relative;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.card button{
    visibility: hidden;
    height: max-content;

    background: none;
    border: none;
    padding: 0.3em;
    
}


.card:hover button{
    visibility: visible;
}

.card button:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
}


.menuContainer{
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.menu{
    top: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    width: 500px;
    min-height: 300px;

    margin: auto;

    padding: 1em;
    border-radius: 4px;
    
}

.menuTitle{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.menuDescription{
    margin-bottom: 2em;
    line-height: 1.5em;
}

.menuDescription textarea{
    width: 100%;
    height: 5em;
    padding: 0.5em;
    font-size: 1.1em;
}



.comment{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
}

.commentsInput{
    margin-right: 0.5em;
}

.btn-save{
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 4px;

    padding: 0.5em;
    margin-top: 0.5em;
    
}

